<h1>Employee List</h1>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Code</th>
    <th>Name</th>
    <th>Weekly Effort (Total)</th>
    <th>Weekly Effort (Average)</th>
    <th>TimeSheet</th>
  </tr>
    <tr *ngFor="let item of employees">
        <td>{{item.id}}</td>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.totalEffort}}</td>
        <td>{{item.averageEffort}}</td>
        <td>
          <a [routerLink]="['/EmployeeWeek',item.id]">Time Sheet</a>
        </td>
    </tr>
</table>
