<h1>Time Sheet</h1>
<br />
<div>
  <label>Employee :</label>
  <select class='select-option' required [(ngModel)]='employeeId' (ngModelChange)='selectEmployee($event)'>
    <option class='option' *ngFor='let emp of employees' [value]="emp.id">{{emp.name}}</option>
  </select>
  &nbsp;&nbsp;
  <button (click)="openModal('custom-modal-1')">add Task</button>

</div>
<br />

<table class="table">

  <tr>
    <th>TaskName</th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr *ngFor="let item of employeeTasks">
    <td>{{getTaskName(item.taskId)}}</td>
    <td>{{item.sunday}}</td>
    <td>{{item.monday}}</td>
    <td>{{item.tuesday}}</td>
    <td>{{item.wednesday}}</td>
    <td>{{item.thursday}}</td>
    <td>{{item.friday}}</td>
    <td>{{item.saturday}}</td>

  </tr>
  <tr>
    <td>total</td>
    <td>{{getSum('sunday')}}</td>
    <td>{{getSum('monday')}}</td>
    <td>{{getSum('tuesday')}}</td>
    <td>{{getSum('wednesday')}}</td>
    <td>{{getSum('thursday')}}</td>
    <td>{{getSum('friday')}}</td>
    <td>{{getSum('saturday')}}</td>

  </tr>
</table>
<br />
<button style="align-content:center;">
  <a [routerLink]="['']">Back To List</a>
</button>


<modal id="custom-modal-1">
  <div class="modal">
    <div class="modal-body">
      <h1>Add Task</h1>
      <div>
        <label>Task :</label>
        <select class='select-option' required [(ngModel)]='task.TaskId' (ngModelChange)='selectTask($event)'>
          <option class='option' *ngFor='let item of tasks' [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <br />
      <div>
        <label>Sunday :</label>&nbsp;
        <input type="number" [(ngModel)]="task.sunday" />
      </div>
      <div>
        <label>Monday :</label>&nbsp;
        <input type="number" [(ngModel)]="task.monday" />
      </div>
      <div>
        <label>Tuesday :</label>&nbsp;
        <input type="number" [(ngModel)]="task.tuesday" />
      </div>
      <div>
        <label>Wednesday :</label>&nbsp;
        <input type="number" [(ngModel)]="task.wednesday" />
      </div>
      <div>
        <label>Thursday :</label>&nbsp;
        <input type="number" [(ngModel)]="task.thursday" />
      </div>
      <div>
        <label>Friday :</label>&nbsp;
        <input type="number" [(ngModel)]="task.friday" />
      </div>
      <div>
        <label>Saturday :</label>
        <input type="number" [(ngModel)]="task.saturday" />
      </div>
      <br />
      <button (click)="saveTask(task);">Save</button>
      &nbsp;&nbsp;
      <button (click)="closeModal('custom-modal-1');">Close</button>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
